<% $game.attack($player_2) %>
<div>
  <%= @player_2_name %> yelping in pain! Why you so evil???
</div>

<div>
<img src="http://i.dailymail.co.uk/i/pix/2014/04/11/article-2602528-1D06B2D200000578-424_634x471.jpg"/>
</div>

<div>
  <%= $player_2.name %>: <%= $player_2.hit_points %>HP
</div>
