<form action='/names' method="post">
  <div>
    <label for="first_name">Dinosaur 1 Name:</label>
    <input type="text" name="first_name"/>
  </div>
 
  <div>
    <label for="second_name">Dinosaur 2 Name:</label>
    <input type="text" name="second_name"/>
  </div>
  <div>
    <button type="submit">click here to tell us your dinosaur names</button>
</form>



