<%= $game.player_1.name %> is having a big fight with  <%= $game.player_2.name %>
<%= $game.player_2.name%>: <%= $game.player_2.hp %> Hit Points

<form action='/attack' method="get">
<div class="button">
  <button type="submit">Attack</button>
</div>
</form>
