<%= $dino_1_name%> is having a big fight with  <%= $dino_2_name %>
<%= $dino_2_name%>: <%= $player_2.hp %> Hit Points

<form action='/attack' method="get">
<div class="button">
  <button type="submit">Attack</button>
</div>
</form>
